<div class="container">
  <div class="row px-lg-2 mt-2 mb-2 align-items-center sticky-top ">
    <div class="col-sm">
      <a href="/" style="text-decoration: none;">
        <h1 style=" color: white;">SU<span id="letter">I</span>TS</h1>
      </a>
    </div>
    <div class="col-sm-4"></div>
    <div class="col-sm">
      <span class="fa-stack has-badge" data-count="0" style="float: right; font-size: 20px;" id="cartCounter">
        <i class="fa fa-circle fa-stack-2x "></i>
        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
      </span>
    </div>
    <div class="col-sm">

      <a href="/users/register" class="btn btn-primary ">Register</a>
      <a href="/users/login" class="btn btn-secondary ">Login</a>

    </div>

  </div>

  <div>
    <%- include('e-body'); -%>
  </div>
</div>